<article >
        <header>
          <h2><%= @share.name %> </h2>
          
        </header>
        <p>
          <h3><%= @share.description %></h3>

        </p>
        <table>
          <tr>
            <th>Sector:</th>
            <td><%= @share.sector %></td>
          </tr>
          <tr>
            <th>Current price :</th>
            <td><%= @share.current_price %></td>
          </tr>
          <tr>
            <th>52 week low :</th>
            <td><%= @share.year_low %></td>
          </tr>
          <tr>
            <th>52 week High :</th>
            <td><%= @share.year_high %></td>
          </tr>
            <tr>
            <th>P/E :</th>
            <td><%= @share.current_PE_ratio %></td>
          </tr>
          <tr>
            <th>Market Cap :</th>
            <td><%= @share.market_cap %></td>
          </tr>
          <tr>
            <th>Book Value: </th>
            <td><%= @share.book_value %></td>
          </tr>
          <tr>
            <th>P/B :</th>
            <td><%= @share.price_to_book_value %></td>
          </tr>
    
        </table>
    </article>
    <%= link_to "Reviews", share_reviews_path(@share) %>

    <%=   link_to "All Shares", shares_path %>
    <%=   link_to "Delete", share_path(@share), method: :delete, data:{confirm: 'Are you Sure?'} %>